.registration__container{
    background-color: #fff;
    margin: 0 auto;
    padding-top: 145px;
    padding-bottom: 150px;
}

.top__item{
    font-family: 'Open Sans', regular;
    font-size: 54px;
    text-align: center;
    letter-spacing: 1.5px;
}

.attention__item{
    font-family: 'Open Sans', regular;
    font-size: 18px;
    width: 460px;
    text-align: center;
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 10px;
}

.formItem{
    padding-left: 23px;
    padding-right: 20px;
}

.detail{
    padding-top: 9px;
    font-size: 14px;
    letter-spacing: 0.1px;
    font-family: 'Open Sans', regular;
    line-height: 10px;
}

.item{
    padding-top: 25px;
}

.radio__item{
}

.sing__item{
    margin-top: 45px;
    margin-left: 126px;
    line-height: 32px;
    width: 210px;
    background-color: #ef5b4c;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.4px;
    padding-left: 6px;
    text-align: center;
}

.singItem button{
    border-color: #fff;
}

.fileItem{
    visibility: hidden;
}

.file__container{
    border: 1px solid #f9f9f3;
    display: inline-block;
    line-height: 33px;
    border-radius: 3px;
}

.file__text{
    display: inline-block;
    padding-left: 7px;
}

.file__button{
    display: inline-block;
}
.label__item{
    background-color: #f9f9f3;
    display: inline-block;
    border: 1px solid #f9f9f3;
    width: 70px;
    padding-left: 7px;
}

.radio__name{
    padding-left: 26px;
}

@media (max-width: 360px) {
    .top__item{
        font-family: 'Open Sans', regular;
        font-size: 45px;
        text-align: center;
        letter-spacing: 0px;
    }

    .attention__item{
        margin: 0 auto;
        text-align: center;
        font-family: 'Open Sans', regular;
        font-size: 25px;
        width: 90%;
        text-align: center;
        padding-top: 15px;
        padding-left: 0px;
        padding-bottom: 10px;
    }

    .item{
        font-size: 20px;
    }
    .file__text{
        padding-left: 7px;
        font-size: 18px;
        width: 70%
    }
    .file__container{
        width: 100%;
        display: flex;
        border: 1px solid #f9f9f3;
        line-height: 30px;
        border-radius: 3px;
        justify-content: space-between;
    }
    .label__item{
        background-color: #f9f9f3;
        display: inline-block;
        border: 1px solid #f9f9f3;
        width: 20%;
        padding-left: 7px;
    }

    .fileItem{
        visibility: hidden;
        width: 20%;
    }
}