.registrationItem{
    background-color: #fff;
    margin: 0 auto;
    padding-top: 145px;
    padding-bottom: 150px;
}

.topItem{
    font-family: 'Open Sans', regular;
    font-size: 54px;
    text-align: center;
    letter-spacing: 1.5px;
}

.alertItem{
    font-family: 'Open Sans', regular;
    font-size: 18px;
    width: 460px;
    text-align: center;
    padding-top: 15px;
    padding-left: 30px;
    /*padding-bottom: 30px;*/
}

.formItem{
    padding-left: 23px;
    padding-right: 20px;
}

.detail{
    padding-top: 5px;
    font-size: 14px;
    letter-spacing: 0.1px;
    font-family: 'Open Sans', regular;
    line-height: 10px;
}

.item{
    padding-top: 25px;
}

.radioItem{
    padding-top: 10px;
}

.singItem{
    margin-top: 53px;
    margin-left: 126px;
    line-height: 32px;
    width: 210px;
    background-color: #ef5b4c;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.4px;
    padding-left: 6px;
}

.singItem button{
    border-color: #fff;
}

.fileItem{
    visibility: hidden;
}

.file__container{
    border: 1px solid #f9f9f3;
    display: inline-block;
    line-height: 30px;
    border-radius: 3px;
}

.file__text{
    display: inline-block;
    padding-left: 7px;
}

.file__button{
    display: inline-block;
}
.labelItem{
    background-color: #f9f9f3;
    display: inline-block;
    border: 1px solid #f9f9f3;
    width: 70px;
    padding-left: 7px;
}

.radio__name{
    padding-left: 40px;
}