.header a{
    display: block;
    float: right;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.header img{
    display: block;
    float: left;
    margin-left: 30px;
    padding-top: 20px;
}

.header{
    width: 100%;
    background-color: #fff;
    line-height: 60px;
}