.header__item a{
    display: block;
    float: right;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', regular;
    font-weight: 400;
    font-size: 15px;
    padding-left: 29px;
    letter-spacing: 0.5px;
}

.header__item a:hover{
    color: #ef5b4c;
}

.header__item a.active__item{
    color: #007bff;
}

.header__item img{
    display: block;
    float: left;
    padding-top: 20px;
}

.header__item{
    padding-left: 30px;
    padding-right: 30px;
}

.header__container{
    width: 100%;
    background-color: #fff;
    line-height: 60px;
}