.user__container{
    margin-top: 30px;
    text-align: center;
    width: 200px;
}

.phone__item{
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 12px;
    font-size: 15px;
}

.user__container img{
    border-radius: 40px;
    height:70px;
    width: 70px;
}

.name__item{
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 500;
}

.position__item{
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 21px;
    font-size: 15px;
}

.email__item{
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 12px;
    font-size: 15px;
}