.acquainted__container{
    padding-top: 100px;
    padding-bottom:10px;
}

.top__item{
    text-align: center;
    font-size: 56px;
    padding-top: 45px;
    letter-spacing: 0.3px;
    font-family: 'Open Sans', regular;
    font-weight: 400;
}

.info__container{
    display: inline-block;
    height: 500px;
    padding-top: 20px;
}

.info__container img{
    float: left;
    width: 400px;
    padding-top: 50px;
    padding-left: 54px;
}

.text__top{
    font-size: 25px;
    padding-top: 15px;
    letter-spacing: 1px;
    padding-bottom: 22px;
}

.sing__item{
    color: #ef5b4c;
    font-size: 19px;
    padding-top: 3px;
}

.text__container{
    padding-top: 30px;
    padding-left: 445px;
    padding-right: 23px;
    font-family: 'Open Sans', regular;
}

.paragraph__item{
    font-size: 19px;
    padding-bottom: 31px;
    text-align: justify;
    text-justify: inter-word;
}