.item{
    text-align: center;
    font-size: 56px;
    padding-top: 45px;
    font-family: 'Open Sans', regular;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.mainItem{
    margin-top: 100px;
}

.infoItem{
    display: block;
    height: 500px;
}

.infoItem img{
    float: left;
    width: 340px;
    margin-top: 50px;
    margin-left: 54px;
}

.infoItem div{
    margin: 20px;
}

.signItem{
    color: #ef5b4c;
    margin-top: 20px;
    margin-bottom: 30px;
}

.infoItem .textItem{
    margin-left: 425px;
    padding-top: 27px;
    margin-right: 10px;
}

.infoItem .textItem .textHead{
    font-family: 'Open Sans', regular;
    font-size: 26px;
    letter-spacing: 0.8px;
}

.infoItem .textItem div{
    font-family: 'Open Sans', regular;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.4px;
}